{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Branch Page</h1>
 <p>Choose Branch Content you want</p>
    <a href="https://drive.google.com/drive/folders/1rUmguX02rNCcMVCe4R29YlL_wcbiQKYj?usp=sharing"><button type="button" class="btn btn-primary" >Aerospace</button></a>
    <a href="https://drive.google.com/drive/folders/1M11mso50x7I0FaYP4iPT6Zuq-cTh4OKD?usp=sharing"><button type="button" class="btn btn-primary">Civil</button></a>
    <a href="https://drive.google.com/drive/folders/1WRcvjhA_Wc7hJZ1uJBpc5cVT8e2jKRG4?usp=sharing"><button type="button" class="btn btn-primary">CSE</button></a>
    <a href="https://drive.google.com/drive/folders/1Q8rq_mvQz4_Qm6rlyy0xfgjGn4pyET4B?usp=sharing"><button type="button" class="btn btn-primary">ELECTRONICS</button></a>
    <a href="https://drive.google.com/drive/folders/1RNGbZy_eQOmziqo36kr82pLRZCsBEtmc?usp=sharing"><button type="button" class="btn btn-primary">ELECTRICAL</button></a>
    <a href="https://drive.google.com/drive/folders/1Pf-zO8FKTIpQQEqv468CT8YKvdwOqy82?usp=sharing"><button type="button" class="btn btn-primary">MECHANICAL</button></a>
    <a href="https://drive.google.com/drive/folders/14P-ICJViUbRh60OJjPorK3wDxqLxxUGB?usp=sharing"><button type="button" class="btn btn-primary">METALLURGY</button></a>
    <a href="https://drive.google.com/drive/folders/1h0F9s_ACkIEP1bKMd9QKkxlCOh6A58z_?usp=sharing"><button type="button" class="btn btn-primary">PRODUCTION</button></a>

</div>
{% endblock %}


<a href=>Aero</a>
